.fullscreen {
  /* display: flex; */
  /* flex-direction: column; */
}

.center {
  display: flex;
  justify-content: center;
  padding-top: 3vw;
}

.row {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-around;
  padding-top: 3vw;
}

.height{
  height: 18rem;
    width: 20rem;
    margin-bottom: 12px;
    position: relative;
}
.style{
  height: 100%;
    width: 100%;

}
p{
  position: absolute;
    color: goldenrod;
    top: 0;
   

}
.margin{
  margin-top: 42px;
}